/* line 5, ../sass/screen.scss */
.header-container,
.main-container {
  -webkit-box-shadow: black 0px 0px 10px;
  -moz-box-shadow: black 0px 0px 10px;
  box-shadow: black 0px 0px 10px;
}

/* line 9, ../sass/screen.scss */
.main-container {
  background: white;
  margin-top: 450px;
  position: relative;
  z-index: 2;
}

/* line 16, ../sass/screen.scss */
.header-container {
  height: 450px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
/* line 24, ../sass/screen.scss */
.header-container.sticky-header {
  height: 200px;
  z-index: 3;
}
/* line 29, ../sass/screen.scss */
.header-container .opac-trigger {
  height: 45px;
  position: absolute;
  width: 1px;
}

/* line 36, ../sass/screen.scss */
.intro {
  background-color: red;
  position: absolute;
  top: 96px;
  width: 100%;
}
/* line 43, ../sass/screen.scss */
.intro .short,
.intro .long {
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 49, ../sass/screen.scss */
.intro .short {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
